*{
    padding: 0;
    margin: 0;
}
.header{
    height:36px;
    background-color: rgb(245,245,245);
}
#userinfo ul li{
    list-style-type: none;
    display: inline-block;
    padding-top: 5px;
    /*position: relative;*/
    /*text-indent: 30px;*/
}
#userinfo ul li a{
    text-decoration: none;
    color: rgb(108,108,108);
}
#userinfo ul li a:hover{
    color: red;
}
#userinfo ul{
    text-align: center;
}
#userinfo ul li:first-child:hover{
    background-color: white;
}
.header-user{
    display: none;
    width: 300px;
    height: 130px;
    border: 1px solid rgb(245,245,245);
    border-top: none;
}
.header-user img{
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}
.header-user img+p{
    padding-right: 15px;
    /*float: right;*/
    position: relative;
    left: 40px;
    top: 10px;
}
#userinfo li:nth-child(1){
    position: relative;
    right: 200px;
    height: 36px;
    width: 100px;
}
.header-user{
    position: absolute;
    top: 40px;
}
.header-user .text{
    position: relative;
    right: 30px;
    top: 20px;
}
.header-user .text+a{
    background-color: rgb(255,240,232);
    position: relative;
    top: 38px;
    left: -35px;
}
#userinfo ul li:nth-child(2){
    position: relative;
    right: 160px;
    /*weight:80px;*/
    height: 28px;
    /*background-color: white;*/
}
#userinfo ul li:nth-child(3){
    position: relative;
    right: 110px;
}
#userinfo ul li:nth-child(4){
    position: relative;
    right: 70px;
}
#userinfo ul li:nth-child(5){
    position: relative;
    right: 40px;
    width: 80px;
    height: 28px;
    /*background-color: white;*/
}
#userinfo ul li:last-child{
    position: relative;
    left: 130px;
}
#userinfo ul li:nth-child(9){
    position: relative;
    left: 90px;
    width: 80px;
    height: 28px;
}
#userinfo ul li:nth-child(8){
    position: relative;
    left: 50px;
    width: 80px;
    height: 28px;
}
#userinfo ul li:nth-child(10){
    /*position: relative;*/
    /*left: 30px;*/
    /*top: 50px;*/
    /*width: 80px;*/
    /*height: 28px;*/
}
#userinfo ul li:nth-child(6){
    width: 80px;
    height: 28px;
}
#userinfo ul li:nth-child(7){
    position: relative;
    left: 30px;
    width: 80px;
    height: 28px;
}
#info .user-info{
    width: 290px;
    height: 300px;
    border: 1px solid rgb(245,245,245);
    position: absolute;
    top: 30px;
    border-top: none;
}
.user-info h2{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(245,245,245);
    /*color: rgb(245,245,245);*/
}
.user-info h2+p{
    padding-top: 20px;
}
.user-info a{
    display: inline-block;
    padding-top: 10px;
    width: 150px;
    height: 25px;
    line-height: 16px;
    background-color: rgb(255,240,232);
}
.info-all span:last-child{
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    color: rgb(60,60,60);
}
.info-all{
    /*border-top: 1px solid rgb(145,245,245);*/
    padding-bottom: 10px;
}
#myBao .myBao-show{
    width:100px;
    height: 80px;
    position: absolute;
    top: 33px;
    /*background-color: red;*/
    border: 1px solid rgb(245,245,245);
    padding-top: 10px;
    line-height: 30px;
    border-top: none;
}
#shoplove .love-show{
    width:100px;
    height: 70px;
    position: absolute;
    top: 33px;
    /*background-color: red;*/
    border: 1px solid rgb(245,245,245);
    padding-top: 10px;
    line-height: 30px;
    border-top: none;
}
#center .center-show{
    width:100px;
    height: 210px;
    position: absolute;
    top: 33px;
    /*background-color: red;*/
    border: 1px solid rgb(245,245,245);
    padding-top: 10px;
    line-height: 30px;
    border-top: none;
}
